
<body>
<div class = "container-fluid">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p class="navbar-text navbar-left"><a href="#" class="navbar-link">Home</a></p>
    <p class="navbar-text navbar-left"><a href="#" class="navbar-link">Saved Articles</a></p>
    <button type="button" id ="scrape" class="btn btn-danger navbar-btn">Scrape New Articles!</button>
    <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
  </div>
</nav>
<div class = "row">
	<div class = "col-md-12 col-lg-12 big-picture">
		<div class = "center-text">
			<h1>Mongo Scraper</h1>
			(N4Gs Edition)
		</div>
	</div>
</div>
<div class = "container-fluid">
<div class = "row">
	<div class = "col-md-12">
	<div id = "appender">
		<div id = "articles">
			{{#each articleScrape}}
				<h3 data-id= "{{this._id}}"><span>{{this.title}}</span></h3>
          <a href="{{this.link}}" target="_blank">{{this.link}}</a>
          {{/each}}
        </div>
		</div>
	</div>
	<!---->

	</div>
</div>
</div><br><br><br><br><br>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    footertext
  </div>
</nav>
</div>
